contracts_folder: tests/data/contracts/ethereum/local

ethereum:
  mainnet:
    default_provider: alchemy
  local:
    default_provider: foundry

polygon:
  local:
    default_provider: foundry
  amoy:
    default_provider: alchemy
  mainnet:
    default_provider: alchemy

foundry:
  request_timeout: 29
  fork_request_timeout: 360
  priority_fee: 0
  base_fee: 0

  fork:
    ethereum:
      mainnet:
        upstream_provider: alchemy
        block_number: 21418244
      sepolia:
        upstream_provider: alchemy
        block_number: 3091950
      holesky:
        upstream_provider: alchemy
        block_number: 100

test:
  # `false` because running pytest within pytest.
  disconnect_providers_after: false

  gas:
    exclude:
      - method_name: setAdd*

  balance: 100_000 ETH
